<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp </title>
  </head>
  <body>

    <p> Greetings Me Hearties! This is Url Shortener App!</p>
    <p> Let us cut your Url down to size!</p>

    <a href="/register"> What?? Not a Pirate?! Join the Crew! </a>
  </body>
</html>