<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp </title>
  </head>
  <body>
    <font color="blue">
    <div style="background-image:url('https://static.comicvine.com/uploads/original/12/128535/4525989-blog_pirate_ship.jpg');padding:5px;width:1500px;height:1500px;border:1px solid black solid black;background-repeat:no-repeat;">
    <strong>
    <h1> Greetings Me Hearties! This is Url Shortener App!</h1>
    <h2> Let us cut your Url down to size!</h2>
    </strong>
    <p><a href="/register"><font color="white"><font color="white"> What?? Not a Pirate?! Join the Crew!<font> </a></p>
    <p><a href="/login"><font color="white"> Already a Pirate eh? Login Here!!<font> </a></p>
    <font color="white">
    </div>
    </font>
  </body>
</html>