<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp </title>
  </head>
  <body>
  <font color="white">
    <div style="background-image:url('http://www.slate.fr/sites/default/files/styles/1060x523/public/capture_decran_2017-11-09_a_20.38.01_0.png');padding:5px;width:1500px;height:1500px;border:1px solid black solid black;background-repeat:no-repeat;">
      <p> Greetings Me Hearties! This is Url Shortener App!</p>
      <p> This is the Login Page</p>

      <form action="/login" method="POST" style="margin:150px;">
       <label for="email">Enter yer Email!:</label>
        <input id="email" type="text" name="email" placeholder="Blackbeard@gmail.com" style="width: 150px">
       <label for="password">Enter yer Password!:</label>
        <input id="password" type="text" name="password" placeholder="iLoveMyParrot" style="width: 150px">
       <input type="submit" value="Login! Up the Gangplank!">
      </form>
    </div>
  </font>
  </body>
</html>