<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp </title>
  </head>
  <body>

    <p> Greetings Me Hearties! This is Url Shortener App!</p>
    <p> This is the Login Page</p>

     <form action="/login" method="POST" style="margin:150px;">
       <label for="email">Enter yer Email!:</label>
        <input id="email" type="text" name="email" placeholder="Blackbeard@gmail.com" style="width: 150px">
       <label for="password">Enter yer Password!:</label>
        <input id="password" type="text" name="password" placeholder="iLoveMyParrot" style="width: 150px">
       <input type="submit" value="Login! Up the Gangplank!">
     </form>
  </body>
</html>
