<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ye old error page</title>
  <p>Arrrg! Blow me down! An error has occured!</p>
</head>
<body>
  <font color="white">
  <div style="background-image:url('https://wallpapercave.com/wp/vxw5L8X.jpg');padding:5px;width:1500px;height:1500px;border:1px solid black solid black;background-repeat:no-repeat;">
  <p>Watch Yerself! Ye likely forgot to either register or login...</p>
  <p>Orrr...even worse...ye entered a false short url! Avast!</p>
  <p>Proceed nay further! Lest you click the links below...</p>
  <table>
    <tr>
    <th scope="col">Register</th>
    <th scope="col">Login!</th>

    </tr>
    <tr>
      <td><a href="/register"><font color="white"> What?? Not a Pirate?! Join the Crew!<font> </a></td>
      <td><a href="/login"><font color="white"> Already a Pirate eh? Login Here!!<font> </a></td>
    </tr>
    <tr>
    </tr>
  </table>
  </font>
  </div>
</body>
</html>