<!DOCTYPE html>
<html lang="en">
<head>
  <p><% include partials/_header %></p>
</head>
<body>
      <ul>
        <% for(key in urls) {%>
          <li>
            <%= key %>
            <%= urls[key] %>
            <form method="POST" action= <%= "/urls/" + key + "/delete" %> >
            <label for="longURL">Delete a URL:</label>
            <!--<input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
            <input type="submit" value="Submit">
            -->
            <button> Delete </button>
            <a href= <%=  "/urls/" + key %> > Edit this Unique Key! </a>
            </form>
          </li>
        <% }; %>
      </ul>

</body>
</html>


