<!DOCTYPE html>
<html lang="en">
<head>
  <p><% include partials/_header %></p>
</head>
<body>
  <a href="/urls/new"> Add a New, Unique Key! </a>
      <ul>
        <% for(key in urls) {%>
          <li>
            <%= key %>
            <%= urls[key] %>
            <form method="POST" action= <%= "/urls/" + key + "/delete" %> >
            <label for="longURL">Delete a URL:</label>
            <button> Delete </button>
            <a href= <%=  "/urls/" + key %> > Edit this Unique Key! </a>
            </form>
          </li>
        <% }; %>
      </ul>

</body>
</html>


