<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp </title>
</head>
<body>
  <font color="white">
  <div style="background-image:url('https://cdn-images-1.medium.com/max/1200/1*6RyjPpfcQzxaByullA2gqw.png');padding:5px;width:1500px;height:1500px;border:1px solid black solid black;background-repeat:no-repeat;">
    <h1> Avast! This be the registration page!</h1>

    <form action="/register" method="POST" style="margin:150px;">
    <label for="email">Enter yer Email!:</label>
    <input id="email" type="text" name="email" placeholder="Blackbeard@gmail.com" style="width: 150px">
    <label for="password">Enter yer Password!:</label>
    <input id="password" type="text" name="password" placeholder="iLoveMyParrot" style="width: 150px">
    <input type="submit" value="Join the Crew">
    </form>
  </div>
  </font>
</body>
</html>
