<!DOCTYPE html>
<html lang="en">
<head>
  <title><% include ./partials/_header %></title>
</head>
<body>
    <p> This is a paragraph; does this display?</p>

    <h2>Loop</h2>
      <ul>
        <% for(key in urls) {%>
          <li>
            <%= key %>
            <%= urls[key] %>
            <form method="POST" action= <%= "/urls/" + key + "/delete" %> >
            <label for="longURL">Delete a URL:</label>
            <!--<input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
            <input type="submit" value="Submit">
            -->
            <button> Delete </button>
            </form>
          </li>
        <% }; %>
      </ul>

</body>
</html>


