<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <p> This is a paragraph; does this display?</p>


    <p> This is a paragraph; does this display?</p>

    <h2>Loop</h2>
        <ul>
            <% for(key in urls) {
            %>
                  <li>
                  <%= JSON.stringify(key) %>
                  <%= JSON.stringify(urls[key]) %> </li>

            <% }; %>
        </ul>
</body>
</html>


